<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="col-md-3 col-md-offset-3"><img src="{{site.url}}/img/Logo-Horizontal-LBW.png" alt="Versa Tech Marketing - Digital Marketing, Web Design, SEO, Social Media"></div>
  
  <div class="col-md-3" id="social">
  <a href="http://www.facebook.com/VersaTechMarketing" data-tooltip="FaceBook"><i class="fa fa-facebook-square fa-3x col-md-1 col-md-offset-2"></i></a>
  <a href="http://www.twitter.com/VersaTechMkting" data-tooltip="Twitter"><i class="fa fa-twitter-square fa-3x col-md-1 col-md-offset-2"></i></a>
  <!--<a href="http://www.linkedin.com" data-tooltip="LinkedIn"><i class="fa fa-linkedin-square fa-3x col-md-1 col-md-offset-2"></i></a>--></div>
</footer>
<!-- #colophon -->
<div id="credits">
  <div class="wrapper">
    <p> Copyright 2015 -
      VersaTech Marketing      - <a href="{{site.url}}/sitemap">Sitemap</a> </p>
  </div>
	<script type="text/javascript">
function downloadJSAtOnload() {
var element = document.createElement("script");
element.src = "{{site.url}}/js/main.js";
document.body.appendChild(element);
}
if (window.addEventListener)
window.addEventListener("load", downloadJSAtOnload, false);
else if (window.attachEvent)
window.attachEvent("onload", downloadJSAtOnload);
else window.onload = downloadJSAtOnload;
</script>
</body>