<header> <img src="{{site.url}}/img/Logo-Horizontal-LBW.png" alt="Versa Tech Marketing - Digital Marketing, Web Design, SEO, Social Media">
                                                                                                                                             {{% if page.layout == "home" %}}
  <div class="container">
    <div class="col-md-3 col-md-offset-3" id="header-content">
      <p>I'm interested in:</p>
      
    </div>
    <div class="col-md-6">
      <iframe src="https://www.youtube.com/embed/YOCkYc4X7ow?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
                                                                                                                 {{% endif %}}
</header>
